<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Forum Plus</title>
        <link rel="stylesheet" href="/static/css/style.css?v=2">
        <link rel="stylesheet" href="/static/css/auth.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>

    <body>
        <nav>
            <a href="/"><i class="fa-solid fa-house-chimney"></i></a>
        </nav>

        <div class="overlay"></div>

        <div class="auth">
            <div class="authForm">
                <h2 class="login-title">Connexion</h2>
                <hr/>

                <form action="/login" method="post" class="auth-form">
                    <div class="input-group">
                        <input required class="form-input" name="usernameOrMail" placeholder="Nom d'utilisateur / mail" type="text" maxlength="25" />
                        <input required class="form-input input-password" name="password" placeholder="Mot de passe" type="password" maxlength="50" />
                    </div>

                    <button type="submit" class="btn-submit">Continuer</button>

                    <div class="form-links">
                        <a href="/passwordForgot" class="form-link">Mot de passe oublié ?</a>
                        <p>|</p>
                        <a href="/register" class="form-link">Inscription</a>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
