<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Forum Plus - Accueil</title>
        <link rel="stylesheet" href="/static/css/style.css?v=1">
        <link rel="icon" href="/img/music-icon-ico-1.png">
        <link rel="stylesheet" href="/static/css/home.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>

    <body>
        <main>
            <nav>
                <a href="/"><i class="fa-solid fa-house text-lg"></i></a>
                {{if .IsLogged}}
                <a href="/messages"><i class="fa-solid fa-comment-dots text-lg"></i></a>
                <a href="/profile"><i class="fa-solid fa-user-gear text-lg"></i></a>
                <a href="/logout"><i class="fa-solid fa-right-from-bracket text-lg"></i></a>
                {{else}}
                <a href="/login"><i class="fa-solid fa-person-circle-plus"></i></a>
                {{end}}
            </nav>
            <section>
                <div class="input-row">
                    {{if .IsLogged}}
                    <!-- <h2>Bienvenue {{.UserData.Username}}</h2> -->
                    <img class="avatar" src="{{.UserData.PpURL}}" alt="User logo">
                    <div id="createPost" style="display: flex; flex-direction: column;">
                        <input id="inputText" required name="usernameOrMail" placeholder="Titre du poste" type="text" />
                        <textarea class="textarea" placeholder="Description"></textarea>
                    </div>
                    {{else}}
                        <div class="welcome-text">
                            <h1>Bienvenue dans votre forum de musique préféré</h1>
                            <h2>coucou</h2>
                            <h3>salut</h3>
                        </div>
                    {{end}}               
                </div>
            </section>
        </main>
    </body>
</html>