:root {
    --main-bg: #363a3f;
    --main-color: rgba(255, 255, 255, 0.4);
    --main-color2: rgba(255, 255, 255, 0.6);
    --white-5: rgba(255, 255, 255, 0.05);
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    flex: 1;
    padding: 1rem;
    width: 50%;
    margin: 0 auto;
}

.input-row {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.avatar {
    width: 64px;
    height: 64px;
    border-radius: 8px;
    object-fit: cover;
    border: 2px solid rgba(255, 255, 255, 0.4);
}

/* Liste des tags */

sidebar {
    background-color: #212529;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 8px;
    padding: 1rem;
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: rgba(255, 255, 255, 0.4);
    font-family: monospace;
    font-size: 14px;
    font-weight: bold;
}

.tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.tag-item {
    background-color: rgba(255, 255, 255, 0.4);
    color: #212529;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    width: fit-content;
}

/* Post */

.post-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    width: 70%;
}

.post-header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.post-title {
    font-size: 20px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 1rem;
}

.auth {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: rgba(255, 255, 255, 0.4);
    font-family: monospace;
    font-weight: bold;
    font-size: 14px;
    width: fit-content;
    justify-content: start;
    text-align: center;
}

.auth-pp {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    object-fit: cover;
    border: 2px solid rgba(255, 255, 255, 0.4);
}

.post-count {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.4);
    margin-bottom: 1rem;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

.post-card {
    background-color: #212529;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 8px;
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    transition: all 0.3s ease;
    color: var(--main-color);
    font-family: monospace;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
}

.post-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.post-card-title {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
}

.post-card-description {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    line-height: 1.5;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: start;
    align-items: center;
}

.post-card-ago {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.4);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-family: monospace;
    font-weight: bold;
}

.post-card-content {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    line-height: 1.5;
    width: 100%;
}

.post-card-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    margin-top: 0.5rem;
    border: 2px solid rgba(255, 255, 255, 0.4);
}

.post-card-tags {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.5rem;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 10px;
    border-radius: 8px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.4);
    font-family: monospace;
    font-size: 12px;
    font-weight: bold;
    transition: all 0.3s ease;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: fit-content;
}

.post-tag {
    background-color: rgba(255, 255, 255, 0.4);
    color: #212529;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    width: fit-content;
}

.post-tag:hover {
    background-color: rgba(255, 255, 255, 0.6);
    color: #212529;
    transition: all 0.3s ease;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
    font-family: monospace;
}

.post-card-actions {
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
}

.post-card-actions button {
    background: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.4);
}

.post-card-actions button:hover {
    color: rgba(255, 255, 255, 0.8);
}

.post-card-tags .tag {
    background-color: rgba(255, 255, 255, 0.4);
    color: #212529;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 12px;
}

.post-card-tags .tag:hover {
    background-color: rgba(255, 255, 255, 0.6);
    color: #212529;
}